.article {
  min-height: calc(100vh - 4em);
  padding: 2em;
  .main {
    border-radius: 0.5em;
    max-width: 60em;
    margin: auto;
    background-color: #e1e1e1;
    padding: 2em;
  }
}
.content {
  display: flex;
  padding: 0.5em 1em;
  flex-direction: column;
  gap: 1em;
  line-height: 1.5em;
}
.image {
  display: block;
  margin: auto;
  width: 600px;
  height: 350px;
  overflow: hidden;
}
@media (max-width: 784px) {
  .image {
    width: 100%;
    height: 90%;
  }
}
@media (max-width: 481px) {
  .image {
    width: 100%;
    height: 180px;
  }
  .content p {
    font-size: 0.875em;
  }
  .article {
    padding: 2em 1em;
    .main {
      padding: 1em 0.5em;
    }
  }
}
